@keyframes blink-warning {
  70% { color: white; }
  to { color: white; background-color: orange; }
}

@keyframes blink-critical {
  70% { color: white; }
  to { color: white; background-color: red; }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
    min-height: 24px;
}

#waybar {
  background: #242424;
  /* background: #32302f; */
  color: #ebdbb2;
  font-family: Jetbrains Mono;
  font-size: 24px;
  border-bottom: 2px solid #504945;
}

.modules-right,
.modules-center,
.modules-left {
  margin: 6px 0px 6px 3px;
}

#battery, #cpu, #clock, #network, #pulseaudio, #backlight, #language {
  border-left: 5px solid #665c54;
  min-width: 124px;
}

#clock {
  font-weight: 800;
}

#battery.warning { color: orange; }
#battery.critical { color: red; }
#battery.warning.discharging {
  animation: blink-warning 3s infinite alternate linear;
}

#battery.critical.discharging {
  animation: blink-critical 2s infinite alternate linear;
}

#battery.charging,
#battery.plugged {
  background-color: #98971a;
  color: #282828;
}

#network.disconnected { color: orange; }

/* #custom-prev, #custom-toggle, #custom-next, #custom-title { */
/*   padding: 0 12px; */
/*   color: #ebdbb2; */
/* } */

/* #custom-prev { */
/* margin-left: 70px;  */
/* }     */

#pulseaudio.muted { color: #fb4934; }

/* #workspaces { */
/*   min-width: 250px; */
/* } */

#workspaces button {
  padding: 2px 10px;
  color: #ebdbb2;
  border-bottom: 2px solid transparent;
  min-width: 24px;
}

#workspaces button.focused {
  border-color: #fbf1c7;
  color: #fbf1c7;
  background-color: #504945;
}

#workspaces button.urgent {
  border-color: #fb4934;
  color: #fb4934;
}

#mode { background: #3c3836; padding: 2px; }


tooltip {
  background: #3c3836; /* Тёмный фон */
  border: 1px solid #7c6f64; /* Светло-коричневая граница */
  border-radius: 5px; /* Закруглённые углы */
  padding: 8px; /* Внутренние отступы */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* Тень для объема */
}

tooltip label {
  color: #ebdbb2; /* Светлый цвет текста */
  font-weight: bold; /* Жирный текст для акцента */
}

#window {
  padding-left: 12px;
  border-left: 5px solid #665c54;
  margin-left: 24px;
  font-size: 24px;
  margin-top: 0px;
}
